{% extends 'mainapp/base.html' %}
{% block content %}
    <section class="breadcrumb_part single_product_breadcrumb">
    </section>

    <div class="product_image_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="single_product_img" style="display: flex; justify-content: center">
                        <img src="{{ book.image.url }}" alt="book" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="single_product_text text-center">
                        <h3>{{ book.name }}</h3>
                        <h4>by {% for author in authors %}
                            {{ author }}{% if author != authors.last %},{% else %}.{% endif %}{% endfor %}</h4>
                        <p>{{ book.description }}</p>
                        <div class="card_area">
                            <p>${{ book.price }}</p>
                            <div class="add_to_cart">
                                <a href="{% url 'cart:add' book.pk %}" class="btn_3">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}