{% extends 'mainapp/base.html' %}
{% block content %}
    <section class="breadcrumb_part">
        <div class="breadcrumb_iner">
            <h2>product list</h2>
        </div>
    </section>

    <section class="product_list section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product_sidebar">
                        <div class="single_sedebar">
                            <form action="#">
                                <input type="text" name="#" placeholder="Search keyword">
                                <i class="ti-search"></i>
                            </form>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Genre<i class="right fas fa-caret-down"></i></div>
                                <div class="select_option_dropdown">
                                    {% for genre in genres %}
                                        <p><a href="#">{{ genre.name }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="single_sedebar">
                            <div class="select_option">
                                <div class="select_option_list">Author<i class="right fas fa-caret-down"></i></div>
                                <div class="select_option_dropdown">
                                    {% for author in authors %}
                                        <p><a href="#">{{ author.first_name }} {{ author.last_name }}</a></p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product_list">
                        <div class="row">
                            {% for book in books %}
                                <div class="col-lg-6 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="{% url 'mainapp:book' book.pk %}">
                                            <img src="{{ book.image.url }}" alt="book" class="img-fluid">
                                            <h3>{{ book.name }}</h3>
                                            <h3>{{ book.description }}</h3>
                                            <p>{{ book.price }}$</p>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="load_more_btn text-center">
                            <a href="#" class="btn_3">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}